@import url(../style/blocks/base.css);
@import url(../style/blocks/_header-servs.css);
@import url(../style/blocks/_hero-servs.css);
@import url(../style/blocks/_offers-servs.css);
@import url(../style/blocks/_partners-serv.css);
@import url(../style/blocks/_footer-servs.css);

.main-services {
	height: 324px;
}

.body {
	height: 100%;
	margin: 0;
	padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu__link--serv {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	margin-right: 4px;
}

.contacts__dropdown-title--serv {
	margin-top: -5px;
	margin-right: 3px;
}

.wrapper--serv {
	overflow: hidden;
	min-width: 1150px;
	min-height: 100%;
	flex-direction: column;
}

.wrapper__content {
	flex: 1;
}

.container {
	width: 1142px;
	margin: 0 auto;
}



.socials {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 276px;
  margin-top: 5px;
}

.footer__menu {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	margin-top: 16px;
	margin-left: 64px;
}

.socials__link {
	margin-right: 10px;
}

.socials__img {
	width: 36px;
	height: 36px;
}

.socials__img:last-child {
	margin-right: 0;
}

