.header__serv {
	display: flex;
	flex-wrap: wrap;
	height: 75px;
}

.logo__img {
	width: 98px;
	height: 42px;
	display: inline-block;
	margin-top: 32px;
}

.menu__header-menu {
	display: flex;
	flex-wrap: wrap;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	margin-left: -15px;
	margin-top: 5px;
}

.contacts__dropdown-title--serv {
	margin-top: -5px;
	margin-right: 3px;
}

