.about {
  margin-top: 514px;
  height: 552px;
  position: relative;
}

.about__img {
  float: left;
}
.about__content {
  position: absolute;
  height: 455px;
  width: 785px;
  background: url(../../img/mountains.png);
  right: 4px;
  top: 97px;
  padding-top: 70px;
  padding-left: 81px;
  padding-right: 81px;
  padding-bottom: 66px;
}

.title__dark {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
}

.about__text {
  margin-top: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #060606;
  margin-bottom: 44px;
  margin-right: 131px;
}