.footer__main {
  height: 146px;
  position: flex;
	flex-wrap: wrap;
}

.footer__container-main {
	display: flex;
	flex-wrap: wrap;
	padding-top: 42px;
}

.footer__logo-main {
	width: 98px;
	height: 42px;
	display: flex;
	flex-wrap: wrap;
}

.logo__img-main {
	width: 85px;
	height: 36px;
}

.footer__menu--main {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	margin-top: 16px;
	margin-left: 64px;
}

.socials__main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: 217px;
  margin-top: 5px;
}

.socials__link-main {
	margin-right: 10px;
}

.socials__img-main {
	width: 36px;
	height: 36px;
}

.socials__img:last-child {
	margin-right: 0;
}

.contacts__footer {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
}

.contacts__disc {
	color: #9A9A9A;
	font-size: 11px;
	line-height: 15px;
	margin-left: 90px;
}

.contacts__phone--footer {
	color: #FFFFFF;
	font-size: 26px;
	line-height: 35px;
	margin-left: 63px;
}