.footer {
  height: 146px;
  position: relative;
}

.footer__container {
  height: 146px;
}

.footer__logo {
  position: absolute;
  margin-top: 45px;
}

.footer__menu {
  position: absolute;
  margin-top: 63px;
  margin-left: 164px;
}

.socials__img, .menu {
  display: inline-block;
  position: absolute;
}

.menu__list {
  display: inline-block;
  width: 264px;
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  line-height: 19px;
}


.menu__link {
  display: inline-block;
  position: absolute;
  margin-right: 54px;
}

.menu__item {
  display: inline-block;
  margin-right: 102px;
  height: 19px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.contacts {
  text-align: right;
  position: absolute;
  top: 0px;
  right: 0;
}

.contacts__disc {
  color: #9A9A9A;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
}

