.header {
  height: 77px;
}

.menu__header-menu {
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  margin-right: 52px;
  position: relative;
  line-height: 19px;
}

.logo__img-head {
  margin-top: 32px;
}

.contacts-header {
  height: 42px;
  margin-top: 28px;
  margin-left: 460px;
}

.contacts__dropdown-title {
  position: absolute;
  margin-top: -7px;
  right: 4px;
}

.menu__header-menu:last-child {
  margin-right: 0;
}

.menu__link {
  display: inline-block;
  margin-right: 54px;
}