.hero__hello {
  margin-top: 196px;
  height: 136px;
  position: relative;
}
.hero__title {
  position: absolute;
  font-style: normal;
  width: 511px;
  height: 197px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 27px;
  top: -125px;
}
.hero__subtitle {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 33px;
  padding-top: 27px;
  padding-bottom: 34px;
  width: 196px;
  height: 20px;
  top: 122.5px;
}

.button--color--ginger {
  width: 168px;
  height: 55px;
  position: absolute;
  top: 203.5px;
}