.section {
  margin-bottom: 123px;
  position: relative;
  top: 369px;
}
.section__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  margin-bottom: 51px;
} 

.included {
  margin-top: 18px;
  margin-bottom: 23.5px;

}


.included__calendar {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  margin-left: -25px;
  align-items: center;

}

.included__meal {
  display: inline-block;
  margin-left: 10px;
}

.products__item {
  width: 362px;
  height: 449px;
  background: #FFFFFF;
  border-radius: 5px;
	margin-right: 22px;
}

.products__item:last-child {
	margin-right: 0;
  margin-left: 0;
}

.products__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin-left: 22px;
  margin-top: 33px;
}

.products__feature-text {
  color: #666666;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 90px;
  height: 22px;
  display: inline-block;
  text-align: center;
}

.products__feature-icon {
  display: inline-block;
}

.products__description {
  align-items: center;
  text-align: center;
}

.caption {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #303030;
  line-height: 21px;
  padding-left: 20px;
}

.product__header {
  width: 362px;
  height: 144px;
}

.button__color--white {
	background: #FFF;
	border-radius: 35px;
  padding: 18px 0;
  text-align: center;
	color: #F5170E;
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	align-items: center;
  width: 135px;
  height: 55px;
  border: 1px solid #F5170E;
  margin-left: 24px;
}

.button__color--red {
  display: inline-block;
	background: #F5170E;
	border-radius: 35px;
  padding: 18px 0;
  text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	align-items: center;
  width: 135px;
  height: 55px;
  border: 1px solid #F5170E;
  margin-left: 23px;
}
.flame__img {
  position: absolute;
  top: 15px;
  left: 287px;
}